<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit vitae fugiat voluptatum, et doloribus dolore ipsam, consequuntur perspiciatis tempora officia accusantium obcaecati dicta odio ab? Corrupti tenetur fugit exercitationem at?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis totam quasi temporibus possimus rem quia rerum ipsam earum error ullam, facere distinctio iusto explicabo asperiores quidem ad debitis, reiciendis perspiciatis?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis totam quasi temporibus possimus rem quia rerum ipsam earum error ullam, facere distinctio iusto explicabo asperiores quidem ad debitis, reiciendis perspiciatis?</p>
        
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>